.Heading{
    font-size: 2rem;
    font-weight: 600;
    color: #FF5733;
    text-align: center;
    margin: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
.TagLine{
    font-size: 1.2rem;
    font-weight: 300;
    color: #37130C;
    text-align: center;
    margin: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.List{
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    list-style: circle;
  position: relative;
  padding: 3px 0 2px 25px;
}